/*
!.config/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/UltiSnips/
!.config/nvim/init.vim
!Documents/Programming/Python/Cryptography/simple-aes.py


!.gitignore
!.jupyter/
!.zshrc
!.NERDTreeBookmarks
