/*
!.config/
.config/*
!.config/regolith
!.config/nvim/
.config/nvim/*
!.config/nvim/UltiSnips/
!.config/nvim/init.vim
.config/regolith/*
!.config/regolith/i3

!Documents
Documents/*
!Documents/Programming
Documents/Programming/*
!Documents/Programming/Python
Documents/Programming/Python/*
!Documents/Programming/Python/Cryptography
Documents/Programming/Python/Cryptography/*
!Documents/Programming/Python/Cryptography/simple-aes.py


!regolith-theme.rasi
!install-script.sh
!.gitignore
!.jupyter/
!.zshrc
!.pylintrc
!.NERDTreeBookmarks
