snippet c
contract $1 {$2
	constructor() public {
		$3
	}
}
endsnippet

snippet p
pragma solidity ^$1;
endsnippet

snippet iz
import '@openzeppelin/contracts/$1';
endsnippet

snippet co
constructor() $1 public {$2}
endsnippet

snippet b
// SPDX-License-Identifier: MIT
pragma solidity ^$1;$2

contract $3 {$4
	constructor($5) public {
		$6
	}
	$7
}
endsnippet
