snippet c
console.log('${1:log}: ', $1)$0
endsnippet

snippet cj
console.log('${1:log}: ', JSON.stringify($1, null, 2))$0
endsnippet

snippet co
console.log('$1')
endsnippet

snippet <
<$1$2>$3$4$3</$1>
endsnippet

snippet template
<template lang="pug">

</template>

<script>
export default {

}
</script>

<style lang="sass" scoped>

</style>
endsnippet
